.div1 
{
    background-color: #0C356A;
    color: #fff;
    align-items: center;
    height: 50px;
    padding-top: 20px;
}
.div2 
{
    color: #0C356A;
    background-color: #fff;
    align-items: center;
    height: 50px;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    font-size: 27px;
}
.font
{
    height: flex;
    color: #5674ad;
    text-align: left;
    font-size: larger;
}
.padd
{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 20px;
}
nav a 
{
    padding-left: 20px;
    padding-top: 20px;
    background-color: #0C356A;
    color: #fff;
}
.image 
{
    margin-right: 150px;
    padding-left: 25px;
}
.banner-img 
{
    width: 100%;
    max-width: 100%; /* Ensure image fits within container */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Add space between text and image */
    align-items: center;
    text-align: center;
}
.banner-img1 
{
    /* position: absolute; */
    height: auto; /* Maintain aspect ratio */
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding-left: 10%;
}
header
{
    position: relative;
    background-color: transparent;
    color: white;
}
.button-overlay 
{
    position: absolute; /* Absolute positioning */
    top: 65%; /* Place button at 50% from the top */
    left: 14%; /* Place button at 50% from the left */
    transform: translate(-50%, -50%); /*Center-align the button*/
    padding: 10px 20px; /* Padding for the button */
    background-color: #FFC436; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 25px; /* Button border radius */
    cursor: pointer; /* Cursor style */
}
.button-overlay2
{
    position: absolute; /* Absolute positioning */
    top: 65%; /* Place button at 50% from the top */
    left: 27%; /* Place button at 50% from the left */
    transform: translate(-50%, -50%); /*Center-align the button*/
    padding: 10px 20px; /* Padding for the button */
    background-color: #FFC436; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 25px; /* Button border radius */
    cursor: pointer; /* Cursor style */
}
.text 
{
    position: absolute; /* Absolute positioning */
    top: 45%; /* Place button at 50% from the top */
    left: 7%; /* Place button at 50% from the left */
    padding: 10px 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.grid-container 
{
    width:90%;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
}
.grid-container2 
{
    width:70%;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding-bottom: 10px;
}
.grid-item2 
{
    background-color: #0C356A; /* Background color */
    color: white;
    padding: 20px; /* Padding for content */
    text-align: center; /* Center-align text */
    border-radius: 15px; /* Rounded corners */
    width: 250px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
}
.grid-item 
{
    background-color: #0C356A; /* Background color */
    color: white;
    padding: 20px; /* Padding for content */
    text-align: center; /* Center-align text */
    border-radius: 15px; /* Rounded corners */
    width: 150px;
    height: 170px;
    font-size: 22px;
    cursor: pointer;
}
.icon 
{
    display: block; /* Ensure icon is a block-level element */
    margin-bottom: 10px; /* Add space between icon and text */
    padding-left: 36%;
    width: 50px; /* Icon width */
    height: 50px; /* Icon height */
}
.login-container
{
    position: absolute;
    top: 30%; 
    left: 35%;
    padding-top: 20%;
    width: 300px; 
    padding: 20px; 
    border-radius: 5px; 
    color:#0C356A;
    align-items: center;
}

  /* Styles for form inputs */
input[type="text"],
input[type="password"],
input[type="submit"]
{
    width: 90%; /* Set input width to 100% */
    margin-bottom: 10px; /* Add space between inputs */
    padding: 10px; /* Padding for inputs */
    border-radius: 3px; /* Rounded corners */
    border: 1px solid #ccc; /* Input border */
    box-sizing: border-box; /* Include padding in input width */
}

  /* Styles for the submit button */
input[type="submit"] 
{
    background-color: #0174BE; /* Green background color */
    color: white; /* Text color */
    cursor: pointer; /* Cursor style */
}
header
{
    position: relative;
}
.s1
{
    color :#0174BE;
    font-size: 24px;
    padding-left: 80px;
    padding-right: 80px;
}
.hold
{
    align-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 2%;
}
#hoverSpan 
{
    cursor: default; /* Set the default cursor style */
}
#hoverSpan:hover 
{
cursor: pointer; /* Change the cursor to a pointing hand on hover */
}